.my-navbar{
    background-color: #1e1e1e;
    font-family:'Josefin Sans', sans-serif;
}

.logo{
    margin-left: 100px;
}

.logo-text{
    color:#fff;
    margin-left:2px;
    margin-top:1.5%;
}

.navbar-nav{
    text-align: center;
    margin-right: 35%;
    margin-top:1.5%;
}
.nav-item{
    font-size: 20px;
    margin-right: 10px;
}
.btn{
    margin-top:1%;
    margin-right: 70px;
    font-size: 18px;
}


